 body {
     margin: 0;
     background: #fff;
 }

 .h11 {
     /* text-align: center; */
     /* background: #f8540d; */
     /* margin-top: 25px; */
     color: #bf6766;
     float: left;
     font-size: 40px;
     margin-bottom: -5px;
     /* margin: 0px auto; */
 }

 .h66 {
     margin-top: 37px;
     /* margin-right: 5%; */
     color: #bf6766;
     float: right;
 }

 .index-line {
     background: #bf6766;
     width: 100%;
     height: 10px;
 }

 a:link {
     color: #000;
     text-decoration: none;
 }

 a:active {
     color: red;
     text-decoration: none;
 }

 a:visited {
     color: purple;
     text-decoration: none;
 }

 a:hover {
     color: red;
     text-decoration: none;
 }

 .active {
     color: red !important;
     text-decoration: none;
     font-size: 33px;
 }

 .head-img {
     width: 100%;
     height: 100vh;
 }

 .nav-left {
     background: #ffd8d9;
     position: fixed;
     top: 30%;
     width: 13%;
     margin-left: -300px;
     height: 440px;
     transition: 0.2s;
 }

 .nav-line {
     background: #bf6766;
     width: 100%;
     height: 30px;
 }

 .small-line {
     margin: 0 auto;
     background: #bf6766;
     width: 90%;
     height: 3px;
 }

 .nav-line-down {
     background: #bf6766;
     width: 100%;
     height: 30px;
     margin-top: 72px;
 }

 .nav-left ul li {
     text-align: center;
     margin-top: 5px;
     font-size: 30px;
     list-style: none;
     padding: 9px;
 }

 .nav-right {
     margin-left: 14%;
 }

 .right-first {
     height: 300px;
     border-color: black;
     border-width: 1px;
     /* background: #fbcf7f; */
     margin-right: 5%;
     /* padding-top: 30px; */
 }

 .right-first button {
     width: 79px;
     float: right;
     margin-top: 15px;
     background: #bf6766;
     border-radius: 107px / 177.5px;
 }

 .right-first p {
     border-bottom: 5px dotted #bf6766;
     font-size: 21px;
 }

 .h12 {
     /* text-align: center; */
     /* background: #f8540d; */
     width: 175px;
     margin-top: 25px;
     font-size: 40px;
     color: #bf6766;
     float: left;
     /* margin: 0px auto; */
 }

 .h67 {
     margin-top: 54px;
     margin-right: 5%;
     color: #bf6766;
     float: right;
 }

 .right-first>div>img {
     margin-top: 45px;
     margin-left: 2%;
     /* margin-right: 1%; */
     width: 27%;
     /* height: 230px; */
     float: left;
     border-style: solid;
     border-color: #ffd8d9;
     border-width: 17px;
 }

 .right-first-div {
     /*height: 230px;*/
     /*width: 56.5%;*/
     margin-left: 33%;
     /* border-style: solid;*/
     /*padding-top: 100px;*/
 }

 .right-first-div-img {
     width: 75px;
 }

 .right-first-div-img1 {
     width: 60px;
 }

 .video {
     height: 400px;
     /* background: #fbcf7f; */
     margin-right: 5%;
     margin-top: 63px;
 }

 .video-text {
     font-size: 25px;
     color: #bf6766;
     text-align: center;
     margin: 0;
 }

 .video-content {
     width: 60%;
     height: 350px;
     margin-left: 9%;
 }

 .video-play {
     width: 100%;
     height: 350px;
     background: #ffd8d9;
 }

 .video-like {
     margin-top: 280px;
     float: right;
     margin-right: 0%;
 }

 .video-like-text {
     font-size: 20px;
 }

 .video-like img {
     margin-bottom: 30px;
     width: 50px;
     height: 50px
 }

 .Forward {
     margin-left: 110px;
 }

 .video-like-click span {
     padding-top: 10px;
     font-size: 25px;
 }

 .right-second {
     height: 350px;
     /* background: #fbcf7f; */
     margin-right: 5%;
     margin-top: 75px;
 }

 .right-seconnd-txt1 {
     font-family: sans-serif;
     font-size: 28px;
 }

 .right-second-left {
     /*margin-right: 9%;*/
     margin-top: 32px;
     /* width: 14%; */
     float: left;
     position: relative;
 }

 .right-second h1 span {
     display: block;
     font-size: 50px;
 }

 .right-second-right {
     /* margin-left: 5%; */
     width: 95%;
     height: 100%;
 }

 .right-second-right-left {
     float: right;
     margin-right: -90px;
 }

 .right-second-right-left div {
     margin-right: 42px;
 }

 .right-second-right-left i {
     margin-top: 4px;
     font-size: 60px;
 }

 .top-circle1 {
     margin-top: 0px;
 }

 .top-circle2 {
     margin-top: 80px;
 }

 .top-circle3 {
     margin-top: 80px;
 }

 .right-second-right-left {
     text-align: center;
     font-size: 27px;
     color: #bf6766;
 }

 .right-second-right-right {
     margin-left: 2%;
     margin-top: 33px;
     width: 88%;
     height: 300px;
     background: linear-gradient(to bottom, #FFF7FB, #FFC1E0);
     font-family: sans-serif;
     font-size: 28px;
     overflow: hidden;
 }

 .right-Third {
     height: 450px;
     /* background: #fbcf7f; */
     margin-right: 5%;
     margin-top: 82px;
 }

 .right-Third-three {
     margin-top: 20px;
     height: 400px;
     width: 28%;
 }

 .right-Third-three1 {
     margin-top: 20px;
     height: 400px;
     width: 28%;
     margin-left: 7%;
 }

 .right-Third-three img {
     /* margin-top: 50px; */
     height: 350px;
     width: 100%;
 }

 .right-Third-three1 img {
     /* margin-top: 50px; */
     height: 350px;
     width: 100%;
 }

 .right-Third h2 {
     text-align: center;
     color: #bf6766;
 }

 .right-Fourth {
     background: #fbcf7f;
     margin-right: 5%;
     margin-top: 63px;
 }

 .right-Fourth-txt {
     font-family: sans-serif;
     font-size: 23px;
 }

 .right-Fourth h2 {
     text-align: center;
 }

 .right-Fourth img {
     width: 300px;
     height: 200px;
     margin-top: 20px;
     margin-left: 10%;
 }

 .right-Fourth-left {
     float: left;
 }

 .right-Fourth-right1 {
     margin-left: 360px;
     width: 140px;
     height: 30px;
     border-style: solid;
     margin-bottom: 7px;
 }

 .right-Fourth-right2 {
     margin-left: 360px;
     height: 180px;
     border-style: solid;
     margin-bottom: 7px;
 }

 .right-Fifth {
     margin-right: 5%;
     margin-top: 90px;
 }

 .right-Sixth {
     height: 550px;
     /* margin-right: 5%; */
     margin-top: 83px
 }

 .right-Sixth h2 {
     text-align: center;
     color: block;
     margin-bottom: -32px;
 }

 .right-Sixth-right {
     height: 400px;
     width: 28%;
 }

 .right-Sixth-right1 {
     margin-top: 10px;
     margin-left: 6%;
     height: 400px;
     width: 28%;
 }

 .right-Sixth-img {
     height: 350px;
     background: url(../image/对话框1.png);
     background-size: 530px 400px;
     background-repeat: no-repeat;
     width: 540px;
     height: 350px;
     padding: 60px;
     overflow: hidden;
 }

 .right-Sixth-lefttop {
     margin-left: 25%;
     margin-top: 30px;
 }

 .right-Sixth-img1 {
     height: 350px;
     background: url(../image/对话框.png);
     background-size: 530px 400px;
     background-repeat: no-repeat;
     width: 540px;
     height: 350px;
     padding: 60px;
     overflow: hidden;
 }

 .right-Sixth-lefttop {
     margin-left: 25%;
     margin-top: 30px;
 }

 .right-Sixth-righttop {
     margin-left: 17%;
 }

 .right-Sixth-leftdown {
     margin-left: 15%;
 }

 .right-Sixth-rightdown {
     margin-left: 20%;
 }

 #top-oval {
     width: 85px;
     height: 45px;
     background: #ffd8d9;
     /* border-radius: 75px/ 50px; */
     cursor: pointer;
 }

 #down-oval {
     width: 350px;
     height: 175px;
     background: #fabb4a;
     border-radius: 175px / 87.5px;
     overflow: hidden;
 }

 .display {
     display: none;
 }

 #triangle-right {
     width: 0;
     height: 0;
     border-top: 150px solid transparent;
     border-left: 300px solid #f8540d;
     border-bottom: 150px solid transparent;
 }

 .float-left {
     float: left;
 }

 .line {
     width: 800px;
     height: 1px;
     margin: 0px auto;
     padding: 0px;
     overflow: hidden;
 }

 #triangle-down {
     width: 0;
     height: 0;
     border-left: 150px solid transparent;
     border-right: 150px solid transparent;
     border-top: 100px solid #f8540d;
     position: relative;
     left: 670px;
     top: 0px;
     z-index: 3;
     background: #ffd38e;
     opacity: 0.2;
 }

 #triangle-down1 {
     width: 0;
     height: 0;
     border-left: 150px solid transparent;
     border-right: 150px solid transparent;
     border-top: 100px solid #ffee7f;
     position: relative;
     left: 650px;
     top: 0;
     z-index: 2;
     background: #ffd38e;
     opacity: 0.2;
 }

 #triangle-down2 {
     width: 0;
     height: 0;
     border-left: 150px solid transparent;
     border-right: 150px solid transparent;
     border-top: 100px solid black;
     position: relative;
     left: 690px;
     top: 0px;
     z-index: 1;
     background: #ffd38e;
     opacity: 0.2;
 }

 .down {
     margin-bottom: -23px;
     width: 100%;
     height: 50px;
     padding-top: 15px;
     margin-top: 26px;
     background-color: #e7f9ff;
 }

 .sanjiaoxingo {
     width: 100%;
     height: 100%;
     background-color: #000;
 }

 .content-pbhnb {
     position: absolute;
     left: 0px;
     top: 37px;
 }

 .content-pbhnb h1 {
     font-size: 41px;
 }

 .content-pbhnb span {
     font-size: 41px !important;
 }

 .fa-chevron-right {
     font-size: 50px;
     margin-top: 400px;
 }

 .fa-chevron-left {
    font-size: 50px;
    margin-top: 400px;
 }