@charset "UTF-8";
/**
 *
 * @authors ide
 * @email   794958215@qq.com
 * @date    2019-03-21 17:20:32
 * @version $Id$
 */
        *{
            margin:0;
            padding:0;
        }
        .div{
            display: inline-block;
        }
        .h3{
        position: relative;
        z-index:1;
        }
        .top{
            position: relative;
            width:100%;
            height:100px;
            text-align:center;
    }
        .triangle-down1{
        position: absolute;
        left: 30px;
        top: 0px;
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-top: 90px solid black;
        margin-left: 24%
        }
         .triangle-down2{
        position: absolute;
        left: 30px;
        top: 0px;
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-top: 90px solid OrangeRed;
        margin-left: 27%
        }
         .triangle-down3{
        position: absolute;
        left: 30px;
        top: 0px;
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-top: 90px solid Orange;
        margin-left: 30%
        }
        .content1{
            width: 80%;
            height: auto;
        }
        #down{
           width: 350px;
            height: 175px;
            border-radius: 175px / 87.5px;
            overflow: hidden;
            background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
        }
        .right-Third-lefttop{
        margin-left: 7%;
            }
        .right-Third-righttop{
        margin-left: 20%;
    }
     .right-Third-leftdown{
            margin-left: 9%;
        }
        .right-Thrid-rightdown{
            margin-left: 20%;
        }
        .img1{
            margin-top: 0px;
            width: 100%;
            height: 300px;
            background: url('../image/滴滴老板.jpg') no-repeat;background-size:100% 100%;
            border:solid #fabb4a 20px;
            
        
        
        }
        .content1 .ta2{
            padding-top: 20px;
            width: 30%;
            height: 200px;
        }
        .content1 .ta1,.content1 .img1,.content1 .ta2{
            vertical-align: top;
        }
        .content2{
            width: 80%;
            height: auto;
            margin: 30px 10% 0;
        }
        .content2 .ta3,.content2 .ta4{
            width: 30%;
            height: 200px;
        }
        .content2 .ta3{
            margin-left: 18%;
            margin-right: 15%;
        }
        .nav-three{
            margin-top: -50px;
        }
                #radiusdiv {
            margin-top: 20px;
            margin-bottom: 20px;
            border:#D2691E solid 1px;
            border-radius : 50%;
            word-wrap: break-word;
            box-shadow:10px 5px #D2691E inset;
            background: linear-gradient(to bottom, #FF8000, #FFC78E);
        }

        #radiusdiv2 {
            margin-top: 20px;
            margin-bottom: 20px;
            border:#D2691E solid 1px;
            border-radius : 50%;
            word-wrap: break-word;
            box-shadow:-10px 5px #D2691E inset;
            background: linear-gradient(to bottom, #FF8000, #FFC78E);
        }
            #radiusdiv3 {
            margin-bottom: 50px;
            border:#999999 solid 1px;
            border-radius : 50%;
            word-wrap: break-word;
            box-shadow:-1000px 5px #5B5B5B inset;
            opacity:0.7;
        }
